<h2>Vacancy</h2>

{{!-- <h4>Инженер-проектировщик ОВиК</h4>

<ul><b>Обязанности:</b>
    <li>Разработка проектной документации инженерных систем (все стадии проектирования)  зданий и сооружений различного назначения</li>
    <li>Выполнение необходимых расчетов систем, сбор нагрузок, подбор оборудования, составление спецификаций</li>
    <li>Участие в предпроектных обследованиях, составление и согласование Технических заданий на проектирование, выдача заданий на проектирование смежным разделам, согласование проектных решений в надзорных органах, осуществление авторского надзора, проверка проектной документации на соответствие норм и правил</li>
</ul>

<ul><b>Требования:</b>
    <li>Высшее профильное образование</li>
    <li>Знание нормативной документации (ГОСТ, СНиП, СП) в области проектирования</li>
    <li>Уверенный пользователь MS Office, AutoCAD, опыт работы в MagiCAD и Autodesk Revit приветствуется</li>
    <li>Коммуникабельность, способность работать самостоятельно и в коллективе</li>
</ul>

<ul><b>Условия:</b>
    <li>Полная занятость, график 5/2</li>
    <li>Оформление Трудового договора в соответствии с законодательством РФ</li>
    <li>Работа в современной немецко-российской компании, работающей на основе российского законодательства и занимающейся современным проектированием музеев, резорт-отелей, гостиницами, частными жилыми комплексами и объектами в области промышленности</li>
    <li>Компания готова рассмотреть зарплатные ожидания успешного кандидата</li>
</ul>                            --}}


{{#if vacancys.length}}
  <ul>
    {{#each vacancys}}
    <li class="vacancy">
      <label>
        <h5>{{title}}</h5> 
        <p>{{description}}</p>
        <input type="hidden" value="{{_id}}" name="id">
      </label>
    </li>
    {{/each}}
  </ul>
{{else}}
<p>No vacancy!</p>
{{/if}}