.todo {
  margin-bottom: 1rem;
}

.todo span.completed {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}



.vacancy {
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.vacancy label {
  width: 100%;
  padding: 1rem;
  /* border: 2px dashed green; */
}

.vacancy label p {
  font-size: 16px;
  text-align: justify;
}